@import url('https://fonts.googleapis.com/css?family=Handlee|Open+Sans+Condensed:300');

body {
    background-image: url('sky.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

#main-header {
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 65px;
    padding: 10px;
    font-weight: bolder;
    text-shadow: 0 2px 3px white;
    letter-spacing: 2px;
}

/* ------------- CURRENT CITY DIV ------------- */


label {
    color: black;
}

#currentCityDiv {
    background-color: #5498a7;
    padding: 5px;
    font-family: 'Handlee', cursive;
    text-align: center;
    color: aliceblue;
    letter-spacing: 1px;
}

#cityName {
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px #26444c;
    font-size: 30px;
}

#numberOfDays {
    color: aliceblue;
    text-align: center;
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
}

/* ------------- FORECAST DIV ------------- */

#forecastDiv {
    margin-top: 10px;
    padding: 0;
}

#forecastDiv > .dayDiv:first-child {
    background-color: aliceblue;
}

/* ------------- FORMULATED DAY DIV ------------- */

.dayDiv {
    border: 1px solid rgba(27, 109, 133, 0.7);
    padding: 10px;
    height: 220px;
    background-color: rgba(240, 248, 255, .6);
    margin-bottom: 5px;
}

.dateText {
    text-align: center;
    font-size: 18px;
    padding: 5px;
    background-color: #5498a7;
    color: white;
    margin: 0 0 5px 0;
    width: 100%;
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
}

#highLowDiv {
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

#high {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#low {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

#bottomBlock {
    margin: 0 auto;
    /*max-width: 300px;*/
}

#icon {
    display: inline;
    float: right;
    /*padding: 5px;*/
    margin: 2px 0 3px 0;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    border: 1px solid #5498a7;
    background-color: white;
}

#conditionsDiv {
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
    float: left;
    line-height: 15px;
    padding: 5px;
}

#conditions {
    font-size: 20px;
    font-weight: bolder;
}

#humidity {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 15px;
}

#pressure {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 5px;
}


/* ------------- CHANGE LOCATION ------------- */

#changeLocationDiv {
    font-family: 'Titillium Web', sans-serif;
    background-color: #5498a7;
    padding: 6px;
    /*width: 100%;*/
    height: 50px;
}

#changeLocationDiv > .form-group {
    text-align: center;
    width: 100%;
}

#changeLocationDiv > .form-group > input {
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
}

#changeLocationDiv > .form-group > button {
    background-color: #edf6ff;
}

/* ------------- MAP ------------- */

#map-canvas {
    width: 100%;
    height: 750px;
    max-height: 800px;
    max-width: 800px;
    border: 1px solid #5498a7;
}

/* ------------- MEDIA QUERIES ------------- */

@media only screen and (max-width: 991px) {

    #forecastDiv > .dayDiv:first-child {
        background-color: aliceblue;
    }

    .dayDiv {
        float: left;
        text-align: center;
        margin-bottom: 10px;
    }

    .dayDiv > #bottomBlock > #iconDiv > img {
        display: none;
    }

    #bottomBlock {
        display: block;
    }

    #bottomBlock > #conditionsDiv {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    #map-canvas {
        height: 400px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {

    /*#highLowDiv {*/
        /*display: inline;*/
        /*float: left;*/
    /*}*/

    /*#bottomBlock {*/
        /*display: inline;*/
        /*float: left;*/
    /*}*/

    /*.dayDiv > #bottomBlock > #iconDiv {*/
        /*display: inline;*/
        /*float: right;*/
    /*}*/

    /*#icon {*/
        /*display: inl*/
    /*}*/

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}